# python version 3.10.7
scrapy==2.11.1
dynaconf==3.2.5  # config
coloredlogs==15.0.1  # colorful logs
redis==5.0.3  # cache database
black==24.3.0  # code reformat
kafka-python==2.0.2  # for kafka
pyspark==3.5.1 # for spark
flask==3.0.3 # for backend